<a href="https://colab.research.google.com/github/Thanujram/ML_trials/blob/main/Pandas_Quick.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# create and populate 5x2 numpy array
ar_data = np.array([[2,3],[12,15],[14,45],[75,51],[52,42]])

# create list with names of the columns
li_names = ['temp','activity']

# create dataframe
data_frame = pd.DataFrame(data=ar_data, columns=li_names)

print(data_frame)

   temp  activity
0     2         3
1    12        15
2    14        45
3    75        51
4    52        42

In [4]:
#create a new column named adjusted
data_frame["adjusted"] = data_frame["activity"] + 2

print(data_frame)

   temp  activity  adjusted
0     2         3         5
1    12        15        17
2    14        45        47
3    75        51        53
4    52        42        44

Specifying subsets<br>
Isolating Rows, columns, slices and cells

In [5]:
# Rows 0,1,2
print(data_frame.head(3))

   temp  activity  adjusted
0     2         3         5
1    12        15        17
2    14        45        47

In [6]:
# Row 2
print(data_frame.iloc[[2]])

   temp  activity  adjusted
2    14        45        47

In [7]:
# Row 1,2,3
print(data_frame[1:4])

   temp  activity  adjusted
1    12        15        17
2    14        45        47
3    75        51        53

In [8]:
# Column 'temp'
print(data_frame['temp'])

0     2
1    12
2    14
3    75
4    52
Name: temp, dtype: int64

<h2>Create DataFrame</h2>
Task 1

In [9]:
col_names = ['Eleanor','Chidi','Tahari','Jason']

data_rand = np.random.randint(low=0, high=101, size=(3,4))

df_1 = pd.DataFrame(data=data_rand, columns=col_names)

print(df_1)

   Eleanor  Chidi  Tahari  Jason
0       54     78      42      3
1       93     37      75     11
2       78     39      81     66

In [10]:
print(df_1['Elenor'][1])

   Eleanor  Chidi  Tahari  Jason
1       93     37      75     11

In [11]:
df_1["Janet"] = df_1['Tahari'] + df_1['Jason']
print(df_1)

   Eleanor  Chidi  Tahari  Jason  Janet
0       54     78      42      3     45
1       93     37      75     11     86
2       78     39      81     66    147

<h2>Copying</h2>
<ol>
<li> <b>Referencing</b> Changes are made in both Dataframe and the copied one</li>
<li> <b>Copying</b> Independent copy</li>
</ol>

In [16]:
# Referencing
ref_df_1 = df_1

print("Initial")
print(df_1['Chidi'][1])
print(ref_df_1['Chidi'][1])

#modify
df_1.at[1,'Chidi'] = df_1['Chidi'][1] + 5

print("Modified")
print(df_1['Chidi'][1])
print(ref_df_1['Chidi'][1])

Initial
52
52
Modified
57
57

In [18]:
# Copying

copy_df_1 = df_1.copy()

print("Initial")
print(df_1['Chidi'][1])
print(copy_df_1['Chidi'][1])

#modify
df_1.at[1,'Chidi'] = df_1['Chidi'][1] + 10

print("Modified")
print(df_1['Chidi'][1])
print(copy_df_1['Chidi'][1])

Initial
67
67
Modified
77
67